body {
  background: #ededed;
  color: #454545;
  font-family: "Roboto", sans-serif; }
  body h1,
  body h2,
  body h3,
  body h4,
  body h5,
  body h6 {
    font-family: "Ubuntu", sans-serif; }

.hidden {
  display: none !important; }

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; }
  .main button {
    font-size: 24px;
    padding: 8px 18px;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    box-shadow: inset 5px 4px 11px -10px #00000082, 3px 3px 5px -4px #0000009c;
    transition: all 0.2s ease; }
    .main button:hover {
      background-color: #dedede; }
    .main button.enter {
      grid-column: span 2;
      background-color: lightgreen; }
  .main .page {
    background-color: white;
    width: 840px;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 2px 11px 12px -8px #0000004f;
    overflow: hidden; }
    .main .page.welcome h1 {
      font-size: 52px;
      max-width: 48%;
      margin-bottom: -120px; }
    .main .page.welcome img {
      transform-origin: right bottom;
      transform: rotate(90deg) translate(0, 132px);
      cursor: pointer; }
    .main .page.pinCodePage {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2rem; }
      .main .page.pinCodePage .pinCodeValue {
        display: flex;
        justify-content: center;
        gap: 30px;
        padding-top: 30px; }
        .main .page.pinCodePage .pinCodeValue span {
          width: 32px;
          height: 32px;
          border-bottom: 2px solid black;
          display: inline-block;
          text-align: center;
          font-size: 32px; }
      .main .page.pinCodePage .numPad {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 8px; }
      .main .page.pinCodePage h1 {
        font-size: 51px; }
    .main .page.amountPage {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem; }
      .main .page.amountPage .name {
        font-size: 1.8em;
        display: block;
        margin-bottom: 10px; }
      .main .page.amountPage .amounts {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 8px; }
        .main .page.amountPage .amounts label {
          grid-column: span 3;
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 8px;
          grid-column: span 3;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 20px; }
          .main .page.amountPage .amounts label input {
            flex: 1 1 auto;
            width: 20px;
            border: none;
            box-shadow: 1px 1px 5px -2px black;
            line-height: 32px;
            border-radius: 5px;
            font-size: 20px;
            padding: 4px 8px; }
        .main .page.amountPage .amounts .enter {
          grid-column-start: 3; }
    .main .page:last-child {
      font-size: 1.5em; }
